<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/estilo.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="mercado-liebre">
            <img src="img/logo-mercado-liebre.svg" alt="logo mercado liebre">
        </div>

        <!-- Barra de Búsqueda -->
        <div class="search-bar">
            <input type="text" placeholder="Buscar..." />
            <button>Buscar</button>
        </div>

        <h2><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
        <div class="conteiner-navar">
            <ul  class="navar">
                <li class="item"><a href="" title="oferta">Ofertas</a></li>
                <li class="item"><a href="" title="tiendas oficiales">Tiendas Oficiales</a></li>
                <li class="item"><a href="" title="vender">Vender</a></li>
                <li class="item"><a href="" title="Ayuda">Ayuda</a></li><br>
                <li class="item"><a href="" title="crear cuenta">Creá tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
                <li class="item"><a href="" title="ingresar">ingresá</a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li class="item"><a href="" title="mis compras">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
    </header>

<div class="baner">
<img src="img/img-home-banner.jpg" alt="">

</div>

    <main class="main">
     

        <section class="maxi">
            <h2 class="titulares">Basado en la ultima vista</h2>

            <div class="flex-conteiner">
                
                            <div class="item-info">
                                <div class="item-logo"><img src="/img/img-cafetera-moulinex.jpg"></div>
                
                                <div class="canom jaDescripcion">
                                    <div class="icono-camion"><i class="fa-solid fa-truck"></i></div>
                                    <div class="item-price"><p>$6.770</p></div>
                                    <div class="item-discount"><p>40% off</p></div>
                                    <div class="item-description"><p>Cafetera Moulinex</p></div>
                                </div>
                                </div>
                
                              <div class="item-info">
                                <div class="item-logo"><img src="/img/img-macbook-pro-2019.jpg"></div>
                                <div class="cajaDescripcion">
                                    <div class="icono-camion"><i class="fa-solid fa-truck"></i></div>
                                    <div class="item-price"><p>$230.000</p></div>
                                    <div class="item-discount"><p>20% off</p></div>
                                    <div class="item-description"><p>MacBook Pro 2019</p></div>
                                </div>
                              </div>
                
                              <div class="item-info">
                                <div class="item-logo"><img src="/img/img-samsung-galaxy-s10.jpg"></div>
                                <div class="cajaDescripcion">
                                    <div class="icono-camion"><i class="fa-solid fa-truck"></i></div>
                                    <div class="item-price"><p>$70.500</p></div>
                                    <div class="item-discount"><p>10% off</p></div>
                                    <div class="item-description"><p>Samsung Galaxy S10</p></div>
                                   </div>
                              </div>
                
                              <div class="item-info">
                                <div class="item-logo"><img src="/img/img-tv-samsung-smart.jpg"></div>
                            <div class="cajaDescripcion">
                                <div class="icono-camion"><i class="fa-solid fa-truck"></i></div>
                                    <div class="item-price"><p>$23.200</p></div>
                                    <div class="item-discount"><p>5% off</p></div>
                                    <div class="item-description"><p>SmartTv Samsung 43"</p></div>
                            </div>
                              </div>
                            



            </div>


        </section>
        <section>
            <h2 class="titulares">Basado en las ofertas</h2>

            <div class="item-info">
                <div class="item-logo"><img src="/img/img-cafetera-moulinex.jpg"></div>

                <div class="cajaDescripcion">
                    <div class="icono-camion"><i class="fa-solid fa-truck"></i></div>
                    <div class="item-price"><p>$6.770</p></div>
                    <div class="item-discount"><p>40% off</p></div>
                    <div class="item-description"><p>Cafetera Moulinex</p></div>
                </div>
            </div>

              <div class="item-info">
                <div class="item-logo"><img src="/img/img-macbook-pro-2019.jpg"></div>

                <div class="cajaDescripcion">
                    <div class="icono-camion"><i class="fa-solid fa-truck"></i></div>
                    <div class="item-price"><p>$230.000</p></div>
                    <div class="item-discount"><p>20% off</p></div>
                    <div class="item-description"><p>MacBook Pro 2019</p></div>

                </div>
              </div>

              <div class="item-info">
                <div class="item-logo"><img src="/img/img-samsung-galaxy-s10.jpg"></div>

                <div class="cajaDescripcion">
                    <div class="icono-camion"><i class="fa-solid fa-truck"></i></div>
                    <div class="item-price"><p>$70.500</p></div>
                    <div class="item-discount"><p>10% off</p></div>
                    <div class="item-description"><p>Samsung Galaxy S10</p></div>
                </div>
              </div>

              <div class="item-info">
                <div class="item-logo"><img src="/img/img-tv-samsung-smart.jpg"></div>

                <div class="cajaDescripcion">
                    <div class="icono-camion"><i class="fa-solid fa-truck" class="icono-camion"></i></div>
                    <div class="item-price"><p>$23.200</p></div>
                    <div class="item-discount"><p>5% off</p></div>
                    <div class="item-description"><p>SmartTv Samsung 43"</p></div>
                </div>
              </div>
           

        </section>
    </main>
    <footer>
        <section>
            <h3><i class="fa-solid fa-credit-card" id="iconos"></i> <br>Pagá con tarjeta o en efectivo</h3><br>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h3><i class="fa-solid fa-gift" id="iconos"></i> <br>Envío gratis desde $ 2.500</h3><br>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h3><i class="fa-solid fa-user-shield" id="iconos"></i> <br>Seguridad, de principio a fin</h3><br>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>
    </footer>
</body>
</html>